<div class="container container-flex" *ngIf="user">
  <main>
    <div class="featured-playlist flex-space">
      <div class="featured-playlist-image" style="">
        <img style="height: 300px; width: 300px;border-radius: 5px; object-fit: cover" src="{{user.avatar}}">
      </div>
      <div class="featured-playlist-details">
        <div class="featured-playlist-info">
          <div class="flex-space featured-playlist-info-top">
            <div class="featured-playlist-info-name">
              <h2>{{user.fullName}}</h2>
              <h3>{{user.username}}</h3>
            </div>
          </div>
        </div>
        <div class="featured-playlist-writeup">
          <p>
            <span>Email: {{user.email}}</span> <br>
            <span>Phone: {{user.phoneNumber}}</span><br>
            <span>Address: {{user.address}}</span>
          </p>
        </div>
        <div class="featured-playlist-buttons">
          <table>
            <tr>
              <td>
                <button class="btn btn-outline-primary">Play All</button>
                <p>{{songs.length}} songs</p>
              </td>
            </tr>
            <tr>
              <td>
                <button class="btn btn-outline-primary" [routerLink]="['/songs/create']">Create New Song</button>
              </td>
              <td>
                <button class="btn btn-outline-primary" (click)="openScrollableContent(createPlaylist)">Create New
                  Playlist
                </button>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <br>
    <div class="playlist-next-item flex-space" *ngFor="let song of songs; let i = index">
      <div class="playlist-next-item-entry flex-space">
        <div style="width: 50%" class="playlist-next-item-entry-info flex-space">
          <div style="width: 10px;">
          </div>
          <div class="playlist-next-item-entry-info-image">
            <img (click)="playThisSong(song.id)" style="height: 50px; width: 50px; object-fit: cover"
                 src="{{song.avatar}}">
          </div>
          <div style="width: 200px;word-break: break-all" class="playlist-next-item-entry-info-name">
            <a [routerLink]="['/songs/detail', song.id]"><p><b>{{song.name}}</b></p></a>
            <span class="playlist-next-item-entry-info-name-sub">{{song.singer.name}}</span>
          </div>
        </div>
        <div style="margin-top: 20px; margin-left: 200px">
          <span id="categoryName">{{song.category.name}}</span>
        </div>
        <div class="playlist-next-item-entry-icons flex-space">
          <a id="edit" [routerLink]="['/songs/update/', song.id ]"><i class="fas fa-edit"></i></a>
          <a class="mytooltip" (click)="deleteSong(song.id)">
            <i id="delete" class="fas fa-trash-alt"></i></a>
          <a role="button" (click)="openScrollableContent(longContent)"><i id="add" class="fa fa-plus"
                                                                           aria-hidden="true"></i></a>
          <a *ngIf="!song.isLiked" (click)="likeSong(song.id)"><i id="unlike" class="fa fa-heart" aria-hidden="true"></i></a>
          <a *ngIf="song.isLiked" (click)="likeSong(song.id)"><i id="like" class="fa fa-heart" aria-hidden="true"></i></a>
        </div>
      </div>
      <div class="modal">
        <div class="card card-deck">
          <ng-template #longContent let-modal>
            <form [formGroup]="songPlaylistForm" (ngSubmit)="addSongToPlaylist(song.id)">
              <div class="modal-header">
                <h4 style="color: #1b1b1b" class="modal-title">Pick your playlist to add song:</h4>
              </div>
              <div style="text-align: center">
                <select style="height: 30px;width: 90%; margin: 10px" class="input-group-lg" formControlName="playlist">
                  <option *ngFor="let pl of myPlayLists" [value]="pl.id">
                    {{pl.name}}
                  </option>
                </select>
              </div>
              <div class="modal-footer">
                <button type="submit" class="btn-danger" (click)="modal.close('Close click')">Add to playlist</button>
                <button type="button" class="btn btn-outline-dark" (click)="modal.close('Close click')">Close</button>
              </div>
            </form>
          </ng-template>
        </div>
      </div>
    </div>
    <span id="show">View More</span>
  </main>
  <aside class="playlist-aside">
    <div class="similar-artists">
      <div class="similar-artists-title flex-space">
        <h2>Similar Artists</h2>
        <a class="display-none-960" href=""><p class="similar-artists-sub">View All</p></a>
      </div>
      <div class="similar-artists-entry flex-space">
        <div class="similar-artists-image"><img style="height: 50px; width: 50px; object-fit: cover; border-radius: 5px"
                                                src="https://image.thanhnien.vn/768/uploaded/ngocthanh/2020_07_05/j02-anhnoibat_kieu.jpg">
        </div>
        <div class="similar-artists-info">
          <p class="similar-artists-info-name"><b>Jack</b></p>
          <p class="similar-artists-info-sub">V-Pop</p>
        </div>
        <div class="similar-artists-options">
          <div class="similar-artists-options-menu"><i class="fa fa-bars" aria-hidden="true"></i></div>
        </div>
      </div>
      <div class="similar-artists-entry flex-space">
        <div class="similar-artists-image"><img style="height: 50px; width: 50px; object-fit: cover; border-radius: 5px"
                                                src="https://tudienwiki.com/wp-content/uploads/2020/09/Binz.png"></div>
        <div class="similar-artists-info">
          <p class="similar-artists-info-name"><b>Binz</b></p>
          <p class="similar-artists-info-sub">Hip Hop</p>
        </div>
        <div class="similar-artists-options">
          <div class="similar-artists-options-menu"><i class="fa fa-bars" aria-hidden="true"></i></div>

        </div>
      </div>
      <div class="similar-artists-entry flex-space">
        <div class="similar-artists-image"><img style="height: 50px; width: 50px; object-fit: cover; border-radius: 5px"
                                                src="https://static2.yan.vn/YanNews/2167221/201905/tieu-su-su-nghiep-va-cuoc-doi-cua-ca-si-min-f0ea35dc.jpg">
        </div>
        <div class="similar-artists-info">
          <p class="similar-artists-info-name"><b>Min</b></p>
          <p class="similar-artists-info-sub">V-Pop</p>
        </div>
        <div class="similar-artists-options">
          <div class="similar-artists-options-menu"><i class="fa fa-bars" aria-hidden="true"></i></div>
        </div>
      </div>
    </div>


<!--    <div *ngFor="let playlistUpdate of myPlayLists">-->
<!--      <a [routerLink]="['/playlist', playlistUpdate.id]"><span>{{playlistUpdate.name}}</span></a>-->
<!--      <a id="edit2" (click)="openScrollableContent(updatePlaylist)"><i class="fas fa-edit"></i></a>-->
<!--      <div class="modal">-->
<!--        <div class="card card-deck">-->
<!--          <ng-template #updatePlaylist let-modal>-->
<!--            <div style="background-color: #1a1e33" class="modal-header">-->
<!--              <h4 class="modal-title">Update a new playlist</h4>-->
<!--            </div>-->
<!--            <form [formGroup]="playUpForm" (ngSubmit)="updateMyPlaylist(playlistUpdate.id)">-->
<!--              <span>{{playlistUpdate.name}}</span>-->
<!--              <div style=" border-radius: 10px; color:#1a1e33">-->
<!--                <table style="color: #1a1e33;margin: auto" cellpadding="10px">-->
<!--                  <tr><span>{{playlistUpdate.name}}</span></tr>-->
<!--                  <tr>-->
<!--                    <td><label class="col-form-label-lg">Name</label></td>-->
<!--                    <td><input value="{{playlistUpdate.name}}" type="text" formControlName="name"></td>-->
<!--                    <td><input type="text" value="{{playlistUpdate.name}}"></td>-->
<!--                  </tr>-->
<!--                  <tr>-->
<!--                    <td><label class="col-form-label-lg">Description</label></td>-->
<!--                    <td><input [value]="playlistUpdate.description" type="text" formControlName="description"></td>-->
<!--                  </tr>-->
<!--                  <tr>-->
<!--                    <td><label class="col-form-label-lg">Category</label></td>-->
<!--                    <td>-->
<!--                      <select style="width: 100%;height: 30px" class="input-group-lg" formControlName="category">-->
<!--                        <option *ngFor="let c of categories" [value]="c.id">-->
<!--                          {{c.name}}-->
<!--                        </option>-->
<!--                      </select>-->
<!--                    </td>-->
<!--                  </tr>-->
<!--                </table>-->
<!--              </div>-->
<!--              <div class="modal-footer">-->
<!--                <button type="submit" class="btn btn-outline-success" (click)="modal.close('Close click')">Update-->
<!--                </button>-->
<!--                <button type="button" class="btn btn-outline-danger" (click)="modal.close('Close click')">Close</button>-->
<!--              </div>-->
<!--            </form>-->
<!--          </ng-template>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->


    <div class="recently-played">
      <div class="recently-played-title similar-artists-title flex-space">
        <h2>Your Playlist</h2>
        <a class="display-none-960" href=""><p class="similar-artists-sub">View All</p></a>
      </div>

      <div *ngFor="let playlistUpdate of myPlayLists; let j = index">

        <div class="queue-entry flex-space">
          <table style="margin-bottom: 20px;border-bottom: darkgray solid 1px" width="100%">
            <tr>
              <td>{{j+1}}</td>
              <td><a (click)="countViewPlaylist(playlistUpdate.id)" [routerLink]="['/playlist', playlistUpdate.id]"><span>{{playlistUpdate.name}}</span></a></td>
              <td style="text-align: right"><a role="button" (click)="openScrollableContent(addArraySong)"><i (click)="getAllSongNotInPlaylist(playlistUpdate.id)" id="add2" class="fa fa-plus"
                                                                                    aria-hidden="true"></i></a></td>
<!--              <td style="text-align: right"><a id="edit2" (click)="openScrollableContent(updatePlaylist)"><span><i class="fas fa-edit"></i></span></a></td>-->
            </tr>
            <tr >
              <td></td>
              <td>{{playlistUpdate.category.name}}</td>
              <td style="text-align: right">{{playlistUpdate.views}} <i class="fa fa-headphones"></i></td>
            </tr>
          </table>
        </div>
<!--        <div class="modal">-->
<!--          <div class="card card-deck">-->
<!--            <ng-template #updatePlaylist let-modal>-->
<!--              <div style="background-color: #1a1e33" class="modal-header">-->
<!--                <h4 class="modal-title">Update a new playlist</h4>-->
<!--              </div>-->
<!--              <form [formGroup]="playUpForm" (ngSubmit)="updateMyPlaylist(playlistUpdate.id)">-->
<!--                <span>{{playlistUpdate.name}}</span>-->
<!--                <div style=" border-radius: 10px; color:#1a1e33">-->
<!--                  <table style="color: #1a1e33;margin: auto" cellpadding="10px">-->
<!--                    <tr><span>{{playlistUpdate.name}}</span></tr>-->
<!--                    <tr>-->
<!--                      <td><label class="col-form-label-lg">Name</label></td>-->
<!--                      <td><input value="{{playlistUpdate.name}}" type="text" formControlName="name"></td>-->
<!--                      <td><input type="text" value="{{playlistUpdate.name}}"></td>-->
<!--                    </tr>-->
<!--                    <tr>-->
<!--                      <td><label class="col-form-label-lg">Description</label></td>-->
<!--                      <td><input [value]="playlistUpdate.description" type="text" formControlName="description"></td>-->
<!--                    </tr>-->
<!--                    <tr>-->
<!--                      <td><label class="col-form-label-lg">Category</label></td>-->
<!--                      <td>-->
<!--                        <select style="width: 100%;height: 30px" class="input-group-lg" formControlName="category">-->
<!--                          <option *ngFor="let c of categories" [value]="c.id">-->
<!--                            {{c.name}}-->
<!--                          </option>-->
<!--                        </select>-->
<!--                      </td>-->
<!--                    </tr>-->
<!--                  </table>-->
<!--                </div>-->
<!--                <div class="modal-footer">-->
<!--                  <button type="submit" class="btn btn-outline-success" (click)="modal.close('Close click')">Update-->
<!--                  </button>-->
<!--                  <button type="button" class="btn btn-outline-danger" (click)="modal.close('Close click')">Close</button>-->
<!--                </div>-->
<!--              </form>-->
<!--            </ng-template>-->
<!--          </div>-->
<!--        </div>-->
        <div class="modal">
          <div class="card card-deck">
            <ng-template #addArraySong let-modal>
              <form [formGroup]="songPlaylistForm" (ngSubmit)="addArraySongToPlaylist(playlistUpdate.id)">
                <div class="modal-header">
                  <h4 style="color: #1b1b1b" class="modal-title">Pick your playlist to add song:</h4>
                </div>
                <div *ngFor="let song of songsNotInPlaylist">
                  <span style="color: black">{{song.name}}</span>
                  <a style="color: black" *ngIf="!song.isLiked" role="button" (click)="addSongToArrayBFAdd(playlistUpdate.id, song.id)"><i style="color: red;" id="add3" class="fa fa-plus"
                                                                                                                                         aria-hidden="true"></i></a>
                  <a style="color: black;;" *ngIf="song.isLiked" role="button" (click)="subSongFromArrayAdd(playlistUpdate.id,song.id)"><i style="color: red;" id="add4" class="fa fa-minus"
                                                                                                                                        aria-hidden="true"></i></a>
                </div>
                <!--                      <span style="color: black" *ngIf="messageAdd != ''">{{messageAdd}}</span>-->
                <div class="modal-footer">
                  <button type="submit" class="btn-danger" (click)="modal.close('Close click')">Add to playlist
                  </button>
                  <button type="button" class="btn btn-outline-dark" (click)="modal.close('Close click')">Close
                  </button>
                </div>
              </form>
            </ng-template>
          </div>
        </div>
      </div>

    </div>
  </aside>
</div>


<div class="modal">
  <div class="card card-deck">
    <ng-template #createPlaylist let-modal>
      <div style="background-color: #1a1e33" class="modal-header">
        <h4 class="modal-title">Create a new playlist</h4>
      </div>
      <form [formGroup]="playForm" (ngSubmit)="savePlayList()">
        <div style=" border-radius: 10px; color:#1a1e33">
          <table style="color: #1a1e33;margin: auto" cellpadding="10px">
            <tr>
              <td><label class="col-form-label-lg">Name</label></td>
              <td><input class="input-group-lg" type="text" formControlName="name"></td>
            </tr>
            <tr>
              <td><label class="col-form-label-lg">Description</label></td>
              <td><input class="input-group-lg" type="text" formControlName="description"></td>
            </tr>
            <tr>
              <td><label class="col-form-label-lg">Category</label></td>
              <td>
                <select style="width: 100%;height: 30px" class="input-group-lg" formControlName="category">-->
                  <option *ngFor="let c of categories" [value]="c.id">
                    {{c.name}}
                  </option>
                </select>
              </td>
            </tr>
          </table>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-outline-success" (click)="modal.close('Close click')">Create</button>
          <button type="button" class="btn btn-outline-danger" (click)="modal.close('Close click')">Close</button>
        </div>
      </form>
    </ng-template>
  </div>
</div>
<app-playing-songs></app-playing-songs>




