<div class="page-wrapper p-t-100 p-b-50">
  <div class="wrapper wrapper--w900">
    <div class="card card-6">
      <div class="card-heading">
        <h2 class="title text-center">Update Song</h2>
      </div>
      <form [formGroup]="songForm" (ngSubmit)="update()">
        <div style="color: #1b1b1b; border-radius: 20px" class="card-body">
          <div class="text-center">

          </div>
          <div class="form-row">
            <div class="name"><img style="width: 150px; height: 150px; border-radius: 10px; object-fit: cover" id="output" src="{{songCurrent.avatar}}" class="img" alt="Song's Cover"></div>
            <div class="value">
              <div class="input-group js-input-file">
                <input style="margin-top: 50px" [value]="songCurrent.avatar"
                        type="file" accept="image/*"
                        (change)="saveAvatar($event)"
                formControlName="avatar"
                >
              </div>
              <div class="label--desc">Upload your audio for the world</div>
            </div>
          </div>
          <div class="form-row">
            <div class="name">Upload Audio</div>
            <div class="value">
              <div class="input-group js-input-file">
                <input formControlName="urlMp3" [value]="songCurrent.urlMp3" type="file"
                       id="file"
                       (change)="saveUrlMp3($event)"
                       name="mp3"
                       autocomplete="off">
              </div>
              <div class="label--desc">Upload your audio for the world</div>
            </div>
          </div>
          <div class="form-row">
            <div class="name">Song Name</div>
            <div class="value">
              <input [value]="songCurrent.name" class="input--style-6" type="text" formControlName="name">
            </div>
          </div>
          <div class="form-row">
            <div class="name">Singer</div>
            <div class="value">
              <select class="form-control" formControlName="singer">
                <option *ngFor="let s of singers" [value]="s.id" >
                  {{s.name}}
                </option>
              </select>
            </div>
          </div>
          <div class="form-row">
            <div class="name">Category</div>
            <div class="value">
              <select class="form-control" formControlName="category" >
                <option *ngFor="let c of categories" [value]="c.id">
                  {{c.name}}
                </option>
              </select>
            </div>
          </div>
          <div class="form-row">
            <div class="name">Album</div>
            <div class="value">
              <select class="form-control" formControlName="album">
                <option *ngFor="let a of albums" [value]="a.id" [selected]="songCurrent.album.id == a.id">
                  {{a.name}}
                </option>
              </select>
            </div>
          </div>
          <div class="form-row">
            <div class="name">Musician</div>
            <div class="value">
              <input [value]="songCurrent.musician" type="text" formControlName="musician" class="input--style-6">
            </div>
          </div>
          <div class="form-row">
            <div class="name">Description</div>
            <div class="value">
              <div class="input-group">
                <textarea  [value]="songCurrent.description" formControlName="description" class="textarea--style-6" name="desc"
                           placeholder="Something..."></textarea>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="name">
              <button style="border: solid; color: #1b1b1b; border-radius: 5px "
                      class="btn btn-outline-success btn--radius"  type="submit">Upload
              </button>
            </div>
            <div style="margin-top: 20px" class="value">
              <span >All * fields are required</span>
            </div>
          </div>
        </div>

      </form>
    </div>
  </div>
</div>

<div style="height: 100px" class="form-group col-12 text-center">
  <h1>Copyright Soundwave - Case Study Module 6</h1>

</div>
