<footer *ngIf="song">
  <div class="container">
    <div class="footer-container container flex-space">
      <div class="music-info flex-space">
        <div id="imageSong">
          <img class="rotate" src="{{song.avatar}}">
        </div>
        <div class="music-info-name" style="margin-left: 50px">
          <h5><b>{{song.name}}</b></h5>
          <p>{{song.singer.name}}</p>
        </div>
      </div>
      <div>
        <iframe style="display: none" src="{{song.urlMp3}}" allow="autoplay" id="audio"></iframe>
        <audio autoplay controls id="player" src="{{song.urlMp3}}">
          <source src="{{song.urlMp3}}" type="audio/ogg">
          <source src="{{song.urlMp3}}" type="audio/mpeg">
          Your browser does not support the audio element.
        </audio>
      </div>
    </div>
  </div>
</footer>
