<footer style="outline: none" *ngIf="song">
  <div  class="container">
    <div class="footer-container container flex-space">
      <div class="music-info flex-space">
        <div id="imageSong">
          <img class="rotate" src="{{song.avatar}}">
        </div>
        <div class="music-info-name" style="margin-left: 50px">
          <h5><b>{{song.name}}</b></h5>
          <p>{{song.singer.name}}</p>
        </div>
      </div>
      <div style="background-color: #f1f3f4; border-radius: 50px">
        <table>
          <tr>
            <td><button style="border: none;padding-left: 20px;border-radius: 25%" (click)="backSong()"><i class="fa fa-step-backward" aria-hidden="true"></i></button>
            </td>
            <td>
              <iframe style="display: none" src="{{song.urlMp3}}" allow="autoplay" id="audio"></iframe>
              <audio autoplay controls id="player" src="{{song.urlMp3}}" (ended)="nextSong()">
                <source src="{{song.urlMp3}}" type="audio/ogg">
                <source src="{{song.urlMp3}}" type="audio/mpeg">
                Your browser does not support the audio element.
              </audio>
            </td>
            <td>
              <button style="border: none;padding-right: 20px;border-radius: 25%" (click)="nextSong()"><i class="fa fa-step-forward" aria-hidden="true"></i></button>
            </td>
          </tr>
        </table>

      </div>
    </div>
  </div>
</footer>
