<form [formGroup]="resetPassForm" (ngSubmit)="resetPassword()">
  <div class="wrapper bg-white mt-sm-5">
    <h4 class="pb-4 border-bottom">Reset Password</h4>
    <div id="box" class="d-flex align-items-start py-3 border-bottom">
      <img id="output" src="{{user.avatar}}" class="img" alt="User's Avatar">
      <div class="pl-sm-4 pl-2" id="img-section">
        <b>{{user.fullName}}</b>
        <p>{{user.username}}</p>
      </div>
    </div>
    <div class="py-2">
      <div class="row py-2">
        <div class="col-md-6">
          <label>Old Password</label>
          <input type="password" formControlName="password" class="bg-light form-control">
        </div>
        <div class="col-md-6 pt-md-0 pt-3">
          <label>New Password</label>
          <input type="password" formControlName="newpassword" name="newpassword" class="bg-light form-control">
        </div>
      </div>
      <div class="py-3 pb-4 text-center">
        <button type="submit" class="btn btn-success">Reset</button>
        <button class="btn btn-outline-light" style="color: black" [routerLink]="['/profile']">Cancel</button>
      </div>
    </div>
  </div>
</form>

