<form [formGroup]="resetPassForm" (ngSubmit)="resetPassword()">
  <div class="wrapper bg-white mt-sm-5">
    <h4 class="pb-4 border-bottom">Reset Password</h4>
    <div id="box" class="d-flex align-items-start py-3 border-bottom">
      <img id="output" src="{{user.avatar}}" class="img" alt="User's Avatar">
      <div class="pl-sm-4 pl-2" id="img-section">
        <b>{{user.fullName}}</b>
        <p>@{{user.username}}</p>
      </div>
    </div>
    <div class="py-2">
      <div class="row py-2">
        <div class="col-md-6">
          <label>Old Password</label>
          <input type="text" formControlName="password" class="bg-light form-control">
        </div>
        <div class="col-md-6 pt-md-0 pt-3">
          <label>New Password</label>
          <input type="text" formControlName="newpassword" name="newpassword" class="bg-light form-control">
        </div>
      </div>
      <div class="py-3 pb-4 text-center">
        <button type="submit" class="btn btn-success">Reset</button>
        <button class="btn btn-outline-light" style="color: black" [routerLink]="['/profile']">Cancel</button>
      </div>
    </div>
  </div>
</form>

<div class="w3-container">
  <h2>W3.CSS Animated Modal</h2>
  <p>Zoom in the modal with the w3-animate-zoom class, or slide in the modal from a specific direction using the w3-animate-top, w3-animate-bottom, w3-animate-left or w3-animate-right class:</p>
  <button onclick="document.getElementById('id01').style.display='block'" class="w3-button w3-black">Open Animated Modal</button>

  <div id="id01" class="w3-modal">
    <div class="w3-modal-content w3-animate-top w3-card-4">
      <header class="w3-container w3-teal">
        <span onclick="document.getElementById('id01').style.display='none'"
              class="w3-button w3-display-topright">&times;</span>
        <h2>Modal Header</h2>
      </header>
      <div class="w3-container">
        <p>Some text..</p>
        <p>Some text..</p>
      </div>
      <footer class="w3-container w3-teal">
        <p>Modal Footer</p>
      </footer>
    </div>
  </div>
</div>
