<div style="background-color: #0c1027" class="page-wrapper p-t-100 p-b-50">
  <div class="wrapper wrapper--w900">
    <div class="card card-6">
      <div class="card-heading">
        <h2 class="title text-center">Create A New Song</h2>
      </div>
      <form [formGroup]="songForm" (ngSubmit)="save()">
        <div style="color: #1b1b1b; border-radius: 20px" class="card-body">
          <div class="form-row">
            <div class="name">
              <img style="width: 150px; height: 150px; border-radius: 10px; object-fit: cover" id="output"
                   src="assets/images/video_play_icon.png" class="img" alt="Song's Cover">
            </div>
            <div class="value">
              <div class="input-group js-input-file">
                <input style="margin-top: 50px" type="file" formControlName="urlAvatar" accept="image/*" (change)="loadFile($event)">
              </div>
              <div class="alert alert-danger mt-1" role="alert"
                   *ngIf="songForm.get('urlAvatar')!.invalid && songForm.get('urlAvatar')!.touched">
                <span>Image file is required.</span>
              </div>
              <div class="label--desc">Upload your audio for the world</div>
            </div>
          </div>
          <div class="form-row">
            <div class="name">Upload Audio *</div>
            <div class="value">
              <div class="input-group js-input-file">
                <input type="file"
                       accept="audio/*"
                       id="file"
                       (change)="saveUrlMp3($event)"
                       name="mp3"
                       formControlName="urlMp3"
                       autocomplete="off">
              </div>
              <div class="alert alert-danger mt-1" role="alert"
                   *ngIf="songForm.get('urlMp3')!.invalid && songForm.get('urlMp3')!.touched">
                <span>Audio file is required.</span>
              </div>
              <div class="label--desc">Upload your audio for the world</div>
            </div>
          </div>
          <div class="form-row">
            <div class="name">Song Name *</div>
            <div class="value">
              <input class="input--style-6" type="text" formControlName="name">
            </div>
            <div class="alert alert-danger mt-1" role="alert"
                 *ngIf="songForm.get('name')!.invalid && songForm.get('name')!.touched">
              <span>Song name is required.</span>
            </div>
          </div>
          <div class="form-row">
            <div class="name">Musician *</div>
            <div class="value">
              <input type="text" formControlName="musician" class="input--style-6">
            </div>
            <div class="alert alert-danger mt-1" role="alert"
                 *ngIf="songForm.get('musician')!.invalid && songForm.get('musician')!.touched">
              <span>Musician is required.</span>
            </div>
          </div>
          <div class="form-row">
            <div class="name">Singer *</div>
            <div class="value">
              <select class="form-control" formControlName="singer">-->
                <option *ngFor="let s of singers" [value]="s.id">
                  {{s.name}}
                </option>
              </select>
            </div>
            <div class="alert alert-danger mt-1" role="alert"
                 *ngIf="songForm.get('singer')!.invalid && songForm.get('singer')!.touched">
              <span>Singer is required.</span>
            </div>
          </div>
          <div class="form-row">
            <div class="name">Category</div>
            <div class="value">
              <select class="form-control" formControlName="category">-->
                <option *ngFor="let c of categories" [value]="c.id">
                  {{c.name}}
                </option>
              </select>
            </div>
            <div class="alert alert-danger mt-1" role="alert"
                 *ngIf="songForm.get('category')!.invalid && songForm.get('category')!.touched">
              <span>Category is required.</span>
            </div>
          </div>
          <div class="form-row">
            <div class="name">Album *</div>
            <div class="value">
              <select class="form-control" formControlName="album">-->
                <option *ngFor="let a of albums" [value]="a.id">
                  {{a.name}}
                </option>
              </select>
            </div>
<!--            <div class="alert alert-danger mt-1" role="alert"-->
<!--                 *ngIf="songForm.get('album')!.invalid && songForm.get('album')!.touched">-->
<!--              <span>Album is required.</span>-->
<!--            </div>-->
          </div>

          <div class="form-row">
            <div class="name">Description</div>
            <div class="value">
              <div class="input-group">
                <textarea formControlName="description" class="textarea--style-6" name="desc"
                          placeholder="Something..."></textarea>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="name">
              <button style="border: solid; color: #1b1b1b; border-radius: 5px "
                      class="btn btn-outline-success btn--radius" [disabled]="!songForm.valid" type="submit">Upload
              </button>
            </div>
            <div style="margin-top: 20px" class="value">
              <span >All * fields are required</span>
            </div>
          </div>

        </div>
      </form>
    </div>
  </div>
</div>

<div style="height: 100px" class="form-group col-12 text-center">
  <h1>Copyright Soundwave - Case Study Module 6</h1>

</div>
