@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  background-color: aliceblue
}

.wrapper {
  padding: 30px 50px;
  border: 1px solid #ddd;
  border-radius: 15px;
  margin: 10px auto;
  max-width: 600px
}

h4 {
  color: black;
  letter-spacing: -1px;
  font-weight: 400
}

#box:hover #image {
  opacity: 0.3;
}

.img {
  opacity: 1;
  display: block;
  transition: .5s ease;
  backface-visibility: hidden;
  width: 70px;
  height: 70px;
  border-radius: 6px;
  object-fit: cover
}

#img-section p,
#deactivate p,
#resetpassword p {
  font-size: 12px;
  color: #777;
  margin-bottom: 10px;
  text-align: justify
}

#img-section b,
#img-section button,
#deactivate b,
#resetpassword b {
  color: #0c1027;
  font-size: 14px
}

label {
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 500;
  color: #777;
  padding-left: 3px
}

input[placeholder] {
  font-weight: 500
}

@media (max-width: 576px) {
  .wrapper {
    padding: 25px 20px
  }

  #deactivate {
    line-height: 18px
  }

  #resetpassword {
    line-height: 18px
  }
}
