<div class="container">
  <div class="container" style="height: 220px; background-color: #240b36">
    <div class="row">
      <div class="col-3">
        <img (click)="playThisSong(song.id)" id="userImage" src="{{song.avatar}}">
      </div>
      <div class="col-lg-9">
        <h1>{{song.name}}</h1>
        <h4>{{song.singer.name}}</h4>
        <h6>{{song.category.name}}</h6>
        <br>
        <br>
        <p>{{song.views}} views | 0 like</p>
      </div>
    </div>
  </div>
  <br>
  <br>
  <app-comment-list class="container col-sm-6"></app-comment-list>
  <br>
  <br>
  <h2>You May Like</h2>
  <div class="container container-flex">
    <main>
      <div class="playlist-next-item flex-space" *ngFor="let songRecommend of songsRecommend">
        <div class="playlist-next-item-entry flex-space" *ngIf="songRecommend.id != song.id">
          <div class="playlist-next-item-entry-info flex-space">
            <div style="width: 10px;">
              <span style="width: 50px" class="playlist-next-item-entry-number"></span>
            </div>
            <div class="playlist-next-item-entry-info-image">
              <img (click)="playThisSong(songRecommend.id)" id="img" style="height: 50px; width: 50px; object-fit: cover"
                   src="{{songRecommend.avatar}}">
            </div>
            <div style="width: 100px;word-break: break-all" class="playlist-next-item-entry-info-name">
              <a [routerLink]="['/songs/detail', songRecommend.id]"><p id="songName"><b>{{songRecommend.name}}</b></p></a>
              <span class="playlist-next-item-entry-info-name-sub">{{songRecommend.singer.name}}</span>
            </div>
          </div>
          <div class="playlist-next-item-entry-icons flex-space">
            <a href=""><i id="add" class="fa fa-plus" aria-hidden="true"></i></a>
            <a *ngIf="!songRecommend.isLiked" (click)="likeSong(songRecommend.id)"><i id="unlike" class="fa fa-heart" aria-hidden="true"></i></a>
            <a *ngIf="songRecommend.isLiked" (click)="likeSong(songRecommend.id)"><i id="like" class="fa fa-heart" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
      <span id="show">View More</span>
    </main>

    <aside class="playlist-aside">
      <div class="similar-artists">
        <div class="similar-artists-title flex-space">
          <h2>Similar Artists</h2>
          <a class="display-none-960" href=""><p class="similar-artists-sub">View All</p></a>
        </div>
        <div class="similar-artists-entry flex-space">
          <div class="similar-artists-image"><img style="height: 50px; width: 50px; object-fit: cover; border-radius: 5px" src="https://image.thanhnien.vn/768/uploaded/ngocthanh/2020_07_05/j02-anhnoibat_kieu.jpg"></div>
          <div class="similar-artists-info">
            <p class="similar-artists-info-name"><b>Jack</b></p>
            <p class="similar-artists-info-sub">V-Pop</p>
          </div>
          <div class="similar-artists-options">
            <div class="similar-artists-options-menu"><i class="fa fa-bars" aria-hidden="true"></i></div>
            <p>4:44</p>
          </div>
        </div>
        <div class="similar-artists-entry flex-space">
          <div class="similar-artists-image"><img style="height: 50px; width: 50px; object-fit: cover; border-radius: 5px" src="https://tudienwiki.com/wp-content/uploads/2020/09/Binz.png"></div>
          <div class="similar-artists-info">
            <p class="similar-artists-info-name"><b>Binz</b></p>
            <p class="similar-artists-info-sub">Hip Hop</p>
          </div>
          <div class="similar-artists-options">
            <div class="similar-artists-options-menu"><i class="fa fa-bars" aria-hidden="true"></i></div>
            <p>4:44</p>
          </div>
        </div>
        <div class="similar-artists-entry flex-space">
          <div class="similar-artists-image"><img style="height: 50px; width: 50px; object-fit: cover; border-radius: 5px" src="https://static2.yan.vn/YanNews/2167221/201905/tieu-su-su-nghiep-va-cuoc-doi-cua-ca-si-min-f0ea35dc.jpg"></div>
          <div class="similar-artists-info">
            <p class="similar-artists-info-name"><b>Min</b></p>
            <p class="similar-artists-info-sub">V-Pop</p>
          </div>
          <div class="similar-artists-options">
            <div class="similar-artists-options-menu"><i class="fa fa-bars" aria-hidden="true"></i></div>
            <p>4:44</p>
          </div>
        </div>
      </div>
      <div class="recently-played">
        <div class="recently-played-title similar-artists-title flex-space">
          <h2>Recently Played</h2>
          <a class="display-none-960" href=""><p class="similar-artists-sub">View All</p></a>
        </div>
        <div class="queue-entry flex-space">
          <p class="queue-number">01</p>
          <div class="queue-entry-image"><img src="src/song_pic1.jpg"></div>
          <div class="queue-entry-info">
            <p><b>Blinding lights</b></p>
            <p class="language-sub latest-release-sub queue-entry-sub">The Weeknd</p>
          </div>
          <div class="like-icon"><a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a></div>
        </div>
        <div class="queue-entry flex-space">
          <p class="queue-number">02</p>
          <div class="queue-entry-image"><img src="src/bad_guy.jpg"></div>
          <div class="queue-entry-info">
            <p><b>Blinding lights</b></p>
            <p class="language-sub latest-release-sub queue-entry-sub">The Weeknd</p>
          </div>
          <div class="like-icon"><a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a></div>
        </div>
        <div class="queue-entry flex-space">
          <p class="queue-number">03</p>
          <div class="queue-entry-image"><img src="src/song_pic1.jpg"></div>
          <div class="queue-entry-info">
            <p><b>Blinding lights</b></p>
            <p class="language-sub latest-release-sub queue-entry-sub">The Weeknd</p>
          </div>
          <div class="like-icon"><a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a></div>
        </div>
        <div class="queue-entry flex-space">
          <p class="queue-number">04</p>
          <div class="queue-entry-image"><img src="src/bad_guy.jpg"></div>
          <div class="queue-entry-info">
            <p><b>Blinding lights</b></p>
            <p class="language-sub latest-release-sub queue-entry-sub">The Weeknd</p>
          </div>
          <div class="like-icon"><a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a></div>
        </div>
        <div class="queue-entry flex-space">
          <p class="queue-number">05</p>
          <div class="queue-entry-image"><img src="src/song_pic1.jpg"></div>
          <div class="queue-entry-info">
            <p><b>Blinding lights</b></p>
            <p class="language-sub latest-release-sub queue-entry-sub">The Weeknd</p>
          </div>
          <div class="like-icon"><a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a></div>
        </div>
        <div class="queue-entry flex-space">
          <p class="queue-number">06</p>
          <div class="queue-entry-image"><img src="src/bad_guy.jpg"></div>
          <div class="queue-entry-info">
            <p><b>Blinding lights</b></p>
            <p class="language-sub latest-release-sub queue-entry-sub">The Weeknd</p>
          </div>
          <div class="like-icon"><a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a></div>
        </div>
        <div class="queue-entry flex-space">
          <p class="queue-number">07</p>
          <div class="queue-entry-image"><img src="src/song_pic1.jpg"></div>
          <div class="queue-entry-info">
            <p><b>Blinding lights</b></p>
            <p class="language-sub latest-release-sub queue-entry-sub">The Weeknd</p>
          </div>
          <div class="like-icon"><a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a></div>
        </div>
        <div class="queue-entry flex-space">
          <p class="queue-number">08</p>
          <div class="queue-entry-image"><img src="src/bad_guy.jpg"></div>
          <div class="queue-entry-info">
            <p><b>Blinding lights</b></p>
            <p class="language-sub latest-release-sub queue-entry-sub">The Weeknd</p>
          </div>
          <div class="like-icon"><a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a></div>
        </div>
      </div>
    </aside>
  </div>
</div>
