<div class="playlist-next-item flex-space" *ngFor="let playlist of playlists; let i = index">
  <div class="playlist-next-item-entry flex-space">
    <div style="width: 50%" class="playlist-next-item-entry-info flex-space">
      <div style="width: 10px;">
      </div>
      <ng-container *ngFor="let songPl of playlist.song.slice(0,1)"  >
        <div class="article-image">
          <a [routerLink]="['/playlist', playlist.id]"><img style="width: 200px;height: 250px; object-fit: cover" src="{{songPl.avatar}}"></a>
        </div>
      </ng-container>
<!--      <div class="playlist-next-item-entry-info-image">-->
<!--        <img style="height: 50px; width: 50px; object-fit: cover"-->
<!--             src="{{song.avatar}}">-->
<!--      </div>-->
<!--      <div style="width: 200px;word-break: break-all" class="playlist-next-item-entry-info-name">-->
<!--        <a [routerLink]="['/songs/detail', song.id]"><p><b>{{song.name}}</b></p></a>-->
<!--        <span class="playlist-next-item-entry-info-name-sub">{{song.singer.name}}</span>-->
<!--      </div>-->
    </div>
    <div style="margin-top: 20px; margin-left: 200px">
      <span>{{playlist.name}}</span>
    </div>
  </div>
<!--  <div class="modal">-->
<!--    <div class="card card-deck">-->
<!--      <ng-template #longContent let-modal>-->
<!--        <form [formGroup]="songPlaylistForm" (ngSubmit)="addSongToPlaylist(song.id)">-->
<!--          <div class="modal-header">-->
<!--            <h4 style="color: #1b1b1b" class="modal-title">Pick your playlist to add song:</h4>-->
<!--          </div>-->
<!--          <div>-->
<!--            <select class="input-group-lg" formControlName="playlist">-->
<!--              <option *ngFor="let pl of playLists" [value]="pl.id">-->
<!--                {{pl.name}}-->
<!--              </option>-->
<!--            </select>-->
<!--          </div>-->
<!--          <div class="modal-footer">-->
<!--            <button type="submit" class="btn-danger" (click)="modal.close('Close click')">Add to playlist</button>-->
<!--            <button type="button" class="btn btn-outline-dark" (click)="modal.close('Close click')">Close</button>-->
<!--          </div>-->
<!--        </form>-->
<!--      </ng-template>-->
<!--    </div>-->
<!--  </div>-->
</div>
