<div class="container container-flex">
  <main>
    <article class="article-featured flex-space">
      <div class="article-image"><a href="playlist.html"><img src="https://i.pinimg.com/736x/ee/64/fa/ee64fad515bf0b8a03ffb21e964eab61.jpg"></a></div>
      <div class="article-image"><a href="playlist.html"><img src="https://i.pinimg.com/736x/f4/a0/8e/f4a08e93ac7cd83ee6cdd7719e54db9a.jpg"></a></div>
      <div class="article-image"><a href="playlist.html"><img src="https://i.pinimg.com/736x/ee/64/fa/ee64fad515bf0b8a03ffb21e964eab61.jpg"></a></div>
      <p class="article-info"></p>
      <p class="article-body"></p>
    </article>
    <article class="latest-release">
      <h2 class="latest-release-title">Latest Release</h2>
      <div class="latest-release-body flex-space">
        <div class="latest-release-col">
          <div class="latest-release-entry flex-space">
            <div class="latest-release-image"><img src="https://i.pinimg.com/736x/f4/a0/8e/f4a08e93ac7cd83ee6cdd7719e54db9a.jpg"></div>
            <div class="latest-release-info">
              <p><b>Bad Guy</b></p>
              <p class="latest-release-sub">MAR 29, 2019</p>
            </div>
            <div class="latest-release-options">
              <i class="fa fa-sort-desc" aria-hidden="true"></i>
              <p class="latest-release-sub">3:14</p>
            </div>
          </div>
          <div class="latest-release-entry flex-space">
            <div class="latest-release-image"><img src="https://i.pinimg.com/736x/f4/a0/8e/f4a08e93ac7cd83ee6cdd7719e54db9a.jpg"></div>
            <div class="latest-release-info">
              <p><b>Bad Guy</b></p>
              <p class="latest-release-sub">MAR 29, 2019</p>
            </div>
            <div class="latest-release-options">
              <i class="fa fa-sort-desc" aria-hidden="true"></i>
              <p class="latest-release-sub">3:14</p>
            </div>
          </div>
        </div>
        <div class="latest-release-col display-none">
          <div class="latest-release-entry flex-space">
            <div class="latest-release-image"><img src="https://i.pinimg.com/736x/f4/a0/8e/f4a08e93ac7cd83ee6cdd7719e54db9a.jpg"></div>
            <div class="latest-release-info">
              <p><b>Bad Guy</b></p>
              <p class="latest-release-sub">MAR 29, 2019</p>
            </div>
            <div class="latest-release-options">
              <i class="fa fa-sort-desc" aria-hidden="true"></i>
              <p class="latest-release-sub">3:14</p>
            </div>
          </div>
          <div class="latest-release-entry flex-space">
            <div class="latest-release-image"><img src="https://i.pinimg.com/736x/f4/a0/8e/f4a08e93ac7cd83ee6cdd7719e54db9a.jpg"></div>
            <div class="latest-release-info">
              <p><b>Bad Guy</b></p>
              <p class="latest-release-sub">MAR 29, 2019</p>
            </div>
            <div class="latest-release-options">
              <i class="fa fa-sort-desc" aria-hidden="true"></i>
              <p class="latest-release-sub">3:14</p>
            </div>
          </div>
        </div>
      </div>
    </article>
    <article class="popular-artists">
      <h2 class="popular-artists-title">Popular Artists</h2>
      <div class="artist-container flex-space">
        <div class="popular-artist-entry"><img src="https://i.pinimg.com/736x/f4/a0/8e/f4a08e93ac7cd83ee6cdd7719e54db9a.jpg"><p>Billie Eilish</p></div>
        <div class="popular-artist-entry"><img src="https://i.pinimg.com/736x/f4/a0/8e/f4a08e93ac7cd83ee6cdd7719e54db9a.jpg"><p>Eminem</p></div>
        <div class="popular-artist-entry"><img src="https://i.pinimg.com/736x/f4/a0/8e/f4a08e93ac7cd83ee6cdd7719e54db9a.jpg"><p>Prateek</p></div>
        <div class="popular-artist-entry"><img src="https://i.pinimg.com/736x/f4/a0/8e/f4a08e93ac7cd83ee6cdd7719e54db9a.jpg"><p>Ritviz</p></div>
        <div class="popular-artist-entry display-none"><img src="https://i.pinimg.com/736x/f4/a0/8e/f4a08e93ac7cd83ee6cdd7719e54db9a.jpg"><p>Marshmello</p></div>
        <div class="popular-artist-entry display-none"><img src="https://i.pinimg.com/736x/f4/a0/8e/f4a08e93ac7cd83ee6cdd7719e54db9a.jpg"><p>Drake</p></div>
      </div>
    </article>
    <article class="stations flex-space">
      <div class="stations-entry"><img src="https://i.pinimg.com/736x/f4/a0/8e/f4a08e93ac7cd83ee6cdd7719e54db9a.jpg"></div>
      <div class="stations-entry"><img src="https://i.pinimg.com/736x/f4/a0/8e/f4a08e93ac7cd83ee6cdd7719e54db9a.jpg"><div class="stations-centered">Love</div></div>
      <div class="stations-entry"><img src="https://i.pinimg.com/736x/f4/a0/8e/f4a08e93ac7cd83ee6cdd7719e54db9a.jpg"><div class="stations-centered">Retro</div></div>
      <div class="stations-entry"><img src="https://i.pinimg.com/736x/f4/a0/8e/f4a08e93ac7cd83ee6cdd7719e54db9a.jpg"><div class="stations-centered">Chill</div></div>
      <div class="stations-entry"><img src="https://i.pinimg.com/736x/f4/a0/8e/f4a08e93ac7cd83ee6cdd7719e54db9a.jpg"><div class="stations-centered">Workout</div></div>
      <div class="stations-entry display-none"><img src="https://i.pinimg.com/736x/f4/a0/8e/f4a08e93ac7cd83ee6cdd7719e54db9a.jpg"><div class="stations-centered">Rock</div></div>
      <div class="stations-entry display-none"><img src="https://i.pinimg.com/736x/f4/a0/8e/f4a08e93ac7cd83ee6cdd7719e54db9a.jpg"><div class="stations-centered">Pop</div></div>
    </article>

    <article class="middle-featured article-featured flex-space">
      <div class="article-image"><img src="https://i.pinimg.com/736x/f4/a0/8e/f4a08e93ac7cd83ee6cdd7719e54db9a.jpg"><div class="stations-centered mid-featured-font">Party</div></div>
      <div class="article-image"><img src="https://i.pinimg.com/736x/f4/a0/8e/f4a08e93ac7cd83ee6cdd7719e54db9a.jpg"><div class="mid-featured-font stations-centered">Electronic</div></div>
      <div class="article-image"><img src="https://i.pinimg.com/736x/f4/a0/8e/f4a08e93ac7cd83ee6cdd7719e54db9a.jpg"><div class="mid-featured-font stations-centered">Road Trip</div></div>
      <p class="article-info"></p>
      <p class="article-body"></p>
    </article>

    <article class="latest-language">
      <h2 class="latest-language-title">Latest English</h2>
      <div class="song-container flex-space">
        <div class="language-song-entry">
          <div class="language-image"><img src="https://i.pinimg.com/736x/f4/a0/8e/f4a08e93ac7cd83ee6cdd7719e54db9a.jpg"></div>
          <p><b>Bad Guy</b></p>
          <p class = "language-sub latest-release-sub">MAR 29, 2019</p>
        </div>
        <div class="language-song-entry">
          <div class="language-image"><img src="https://i.pinimg.com/736x/ee/64/fa/ee64fad515bf0b8a03ffb21e964eab61.jpg"></div>
          <p><b>Bad Guy</b></p>
          <p class = "language-sub latest-release-sub">MAR 29, 2019</p>
        </div>
        <div class="language-song-entry">
          <div class="language-image"><img src="https://i.pinimg.com/736x/f4/a0/8e/f4a08e93ac7cd83ee6cdd7719e54db9a.jpg"></div>
          <p><b>Bad Guy</b></p>
          <p class = "language-sub latest-release-sub">MAR 29, 2019</p>
        </div>
        <div class="language-song-entry display-none">
          <div class="language-image"><img src="https://i.pinimg.com/736x/ee/64/fa/ee64fad515bf0b8a03ffb21e964eab61.jpg"></div>
          <p><b>Bad Guy</b></p>
          <p class = "language-sub latest-release-sub">MAR 29, 2019</p>
        </div>
        <div class="language-song-entry display-none">
          <div class="language-image"><img src="https://i.pinimg.com/736x/f4/a0/8e/f4a08e93ac7cd83ee6cdd7719e54db9a.jpg"></div>
          <p><b>Bad Guy</b></p>
          <p class = "language-sub latest-release-sub">MAR 29, 2019</p>
        </div>
        <div class="language-song-entry display-none">
          <div class="language-image"><img src="https://i.pinimg.com/736x/ee/64/fa/ee64fad515bf0b8a03ffb21e964eab61.jpg"></div>
          <p><b>Bad Guy</b></p>
          <p class = "language-sub latest-release-sub">MAR 29, 2019</p>
        </div>
      </div>
    </article>
    <article class="latest-language">
      <h2 class="latest-language-title">Latest Hindi</h2>
      <div class="song-container flex-space">
        <div class="language-song-entry">
          <div class="language-image"><img src="https://i.pinimg.com/736x/f4/a0/8e/f4a08e93ac7cd83ee6cdd7719e54db9a.jpg"></div>
          <p><b>Bad Guy</b></p>
          <p class = "language-sub latest-release-sub">MAR 29, 2019</p>
        </div>
        <div class="language-song-entry">
          <div class="language-image"><img src="https://i.pinimg.com/736x/f4/a0/8e/f4a08e93ac7cd83ee6cdd7719e54db9a.jpg"></div>
          <p><b>Bad Guy</b></p>
          <p class = "language-sub latest-release-sub">MAR 29, 2019</p>
        </div>
        <div class="language-song-entry">
          <div class="language-image"><img src="https://i.pinimg.com/736x/f4/a0/8e/f4a08e93ac7cd83ee6cdd7719e54db9a.jpg"></div>
          <p><b>Bad Guy</b></p>
          <p class = "language-sub latest-release-sub">MAR 29, 2019</p>
        </div>
        <div class="language-song-entry display-none">
          <div class="language-image"><img src="https://i.pinimg.com/736x/ee/64/fa/ee64fad515bf0b8a03ffb21e964eab61.jpg"></div>
          <p><b>Bad Guy</b></p>
          <p class = "language-sub latest-release-sub">MAR 29, 2019</p>
        </div>
        <div class="language-song-entry display-none">
          <div class="language-image"><img src="https://i.pinimg.com/736x/f4/a0/8e/f4a08e93ac7cd83ee6cdd7719e54db9a.jpg"></div>
          <p><b>Bad Guy</b></p>
          <p class = "language-sub latest-release-sub">MAR 29, 2019</p>
        </div>
        <div class="language-song-entry display-none">
          <div class="language-image"><img src="https://i.pinimg.com/736x/ee/64/fa/ee64fad515bf0b8a03ffb21e964eab61.jpg"></div>
          <p><b>Bad Guy</b></p>
          <p class = "language-sub latest-release-sub">MAR 29, 2019</p>
        </div>
      </div>
    </article>
  </main>
  <aside class="sidebar">
    <h2 class="aside-title">Queue</h2>
    <div class="queue-entry flex-space">
      <p class = "queue-number">01</p>
      <div class="queue-entry-image"><img src="https://i.pinimg.com/736x/f4/a0/8e/f4a08e93ac7cd83ee6cdd7719e54db9a.jpg"></div>
      <div class="queue-entry-info">
        <p><b>Blinding lights</b></p>
        <p class="language-sub latest-release-sub queue-entry-sub">The Weeknd</p>
      </div>
      <div class="like-icon"><a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a></div>
    </div>
    <div class="queue-entry flex-space">
      <p class = "queue-number">02</p>
      <div class="queue-entry-image"><img src="https://i.pinimg.com/736x/f4/a0/8e/f4a08e93ac7cd83ee6cdd7719e54db9a.jpg"></div>
      <div class="queue-entry-info">
        <p><b>Blinding lights</b></p>
        <p class="language-sub latest-release-sub queue-entry-sub">The Weeknd</p>
      </div>
      <div class="like-icon"><a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a></div>
    </div>
    <div class="queue-entry flex-space">
      <p class = "queue-number">03</p>
      <div class="queue-entry-image"><img src="https://i.pinimg.com/736x/ee/64/fa/ee64fad515bf0b8a03ffb21e964eab61.jpg"></div>
      <div class="queue-entry-info">
        <p><b>Blinding lights</b></p>
        <p class="language-sub latest-release-sub queue-entry-sub">The Weeknd</p>
      </div>
      <div class="like-icon"><a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a></div>
    </div>
    <div class="queue-entry flex-space">
      <p class = "queue-number">04</p>
      <div class="queue-entry-image"><img src="https://i.pinimg.com/736x/ee/64/fa/ee64fad515bf0b8a03ffb21e964eab61.jpg"></div>
      <div class="queue-entry-info">
        <p><b>Blinding lights</b></p>
        <p class="language-sub latest-release-sub queue-entry-sub">The Weeknd</p>
      </div>
      <div class="like-icon"><a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a></div>
    </div>
    <div class="queue-entry flex-space">
      <p class = "queue-number">05</p>
      <div class="queue-entry-image"><img src="https://i.pinimg.com/736x/ee/64/fa/ee64fad515bf0b8a03ffb21e964eab61.jpg"></div>
      <div class="queue-entry-info">
        <p><b>Blinding lights</b></p>
        <p class="language-sub latest-release-sub queue-entry-sub">The Weeknd</p>
      </div>
      <div class="like-icon"><a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a></div>
    </div>
    <div class="queue-entry flex-space">
      <p class = "queue-number">06</p>
      <div class="queue-entry-image"><img src="https://i.pinimg.com/736x/ee/64/fa/ee64fad515bf0b8a03ffb21e964eab61.jpg"></div>
      <div class="queue-entry-info">
        <p><b>Blinding lights</b></p>
        <p class="language-sub latest-release-sub queue-entry-sub">The Weeknd</p>
      </div>
      <div class="like-icon"><a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a></div>
    </div>
    <div class="queue-entry flex-space">
      <p class = "queue-number">07</p>
      <div class="queue-entry-image"><img src="https://i.pinimg.com/736x/f4/a0/8e/f4a08e93ac7cd83ee6cdd7719e54db9a.jpg"></div>
      <div class="queue-entry-info">
        <p><b>Blinding lights</b></p>
        <p class="language-sub latest-release-sub queue-entry-sub">The Weeknd</p>
      </div>
      <div class="like-icon"><a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a></div>
    </div>
    <div class="queue-entry flex-space">
      <p class = "queue-number">08</p>
      <div class="queue-entry-image"><img src="https://i.pinimg.com/736x/ee/64/fa/ee64fad515bf0b8a03ffb21e964eab61.jpg"></div>
      <div class="queue-entry-info">
        <p><b>Blinding lights</b></p>
        <p class="language-sub latest-release-sub queue-entry-sub">The Weeknd</p>
      </div>
      <div class="like-icon"><a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a></div>
    </div>
  </aside>
</div>
